version: "3.8"

services:
    postgres:
        image: postgres:16
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: kapital
            POSTGRES_HOST_AUTH_METHOD: trust
        volumes:
            - postgres_data:/var/lib/postgresql/data
        command: postgres -c 'max_connections=1000' -c 'listen_addresses=*'
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5

    backend:
        build:
            context: .
            dockerfile: Dockerfile.dev
        ports:
            - "${PORT}:${PORT}"
        volumes:
            - .:/app
            - /app/node_modules
        environment:
            - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/kapital?schema=public
            - JWT_SECRET=${JWT_SECRET}
            - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
            - PORT=${PORT}
            - NODE_ENV=${NODE_ENV}
        depends_on:
            postgres:
                condition: service_healthy

volumes:
    postgres_data:
