/* Phone Input Styles for react-phone-input-2 */

/* Remove all shadows and focus styles from phone input */
.react-tel-input *,
.react-tel-input *:before,
.react-tel-input *:after,
.react-tel-input .flag-dropdown,
.react-tel-input .form-control,
.react-tel-input .selected-flag {
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}

.react-tel-input .flag-dropdown:focus,
.react-tel-input .form-control:focus,
.react-tel-input .selected-flag:focus,
.react-tel-input .flag-dropdown:hover,
.react-tel-input .form-control:hover,
.react-tel-input .selected-flag:hover,
.react-tel-input .flag-dropdown:active,
.react-tel-input .form-control:active,
.react-tel-input .selected-flag:active {
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}

/* Style the container wrapper */
.phone-input-wrapper {
	border-radius: 0;
	transition: all 0.2s;
	position: relative;
}

.phone-input-wrapper:focus-within {
	box-shadow: 0 0 0 2px #7c3aed;
}

.phone-input-wrapper:focus-within .react-tel-input .flag-dropdown,
.phone-input-wrapper:focus-within .react-tel-input .form-control {
	border-color: #7c3aed !important;
}

/* Remove all border radius from phone input */
.react-tel-input,
.react-tel-input > div,
.react-tel-input .flag-dropdown,
.react-tel-input .form-control {
	border-radius: 0 !important;
}

.react-tel-input .flag-dropdown {
	background-color: white !important;
	border-color: rgb(209, 213, 219) !important;
}

.react-tel-input .flag-dropdown:hover {
	background-color: rgb(249, 250, 251) !important;
}

.react-tel-input .selected-flag {
	background-color: transparent !important;
	width: 100% !important;
	height: 100% !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	padding: 0 !important;
	border: none !important;
}

.react-tel-input .selected-flag:hover {
	background-color: transparent !important;
}

.react-tel-input .country-list .country:hover {
	background-color: rgba(124, 58, 237, 0.1) !important;
	color: #7c3aed !important;
}

.react-tel-input .country-list .country.highlight {
	background-color: rgba(124, 58, 237, 0.2) !important;
	color: #7c3aed !important;
}
